* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
		--index: calc(1vw + 1vh);
	--text: #e7e7e0;
	--transition: transform .75s cubic-bezier(.1, .5, 0, 1);
}
.content {
	will-change: transform;
}

@font-face {
	font-family: "BebasNeue";
	src:  url("../fonts/BebasNeue Bold.ttf");

}

.layers {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	position: relative;
}

.layer {
	height: 100%;
	width: 100%;
	position: absolute;
	background-size: cover;
	background-position: center;
	will-change: transform;
	z-index: 2;
	transition: var(--transition);
}

.about {
	height: 3000px;
	background-color: #01002c;
}

.layers__4 {
	transform: translate3d(0, calc(var(--scrollTop) / 1.8), 0);
}
.layers__3 {
	transform: translate3d(0, calc(var(--scrollTop) / 1.6), 0);
}
.layers__2 {
	transform: translate3d(0, calc(var(--scrollTop) / 2.5), 0);
}
.layers__1 {
	transform: translate3d(0, calc(var(--scrollTop) / 5.7), 0);
}

.layers__title {
	width:0;
	z-index: 3;
	transition: var(--transition);
	transform: translate3d(0, calc(var(--scrollTop) / 4), 0);
}

.layers__header {
	padding-top: 20px;
	align-self: start;
	width: 100vw;
	left: 0px;
	font-family: BebasNeue, sans-serif;
	color: white;
	text-shadow: 5px 5px 5px black;
	text-align: center;
	line-height: 0.9;
}

.layers__mainheader {
	font-size: calc(var(--index) * 3);
}

.layers__subheader {
	font-size: calc(var(--index) * 4);
}

@keyframes typing-first {
  from {
  	    width: 0;
  			border-left: .12em solid rgba(0,0,0,0);
  			border-right: .12em solid orange;
  			padding-right: .2em;
  			padding-left: .2em
  		}
  to {  width: 100%;
  	    border-left: .12em solid rgba(0,0,0,0); 
  	    border-right: .12em solid orange; 
  	    padding-right: .2em; 
  	    padding-left: .2em}
 }
			
@keyframes typing-second {
  from { 
  	    width: 0;
  	    border-left: .12em solid rgba(0,0,0,0); 
  	    border-right: .12em solid orange; 
  	    padding-right: .2em; 
  	    padding-left: .2em}
  to { 
  	  width: 100%;
  	  border-left: .12em solid rgba(0,0,0,0);
  	  border-right: .12em solid orange; 
  	  padding-right: .2em; 
  	  padding-left: .2em}
}

@keyframes hide-carriage {
	from {border-right: .12em solid orange;}
	to {border-right: .12em solid rgba(0,0,0,0);}
}

.typed-out {
	z-index:10; 
  overflow: hidden;
  white-space: nowrap;        
}

.animation-title-1 {
	animation-name: typing-first, hide-carriage;
	animation-duration: 1.3s, 0.001s;
	animation-delay: 0s, 1.3s;
	animation-fill-mode: forwards, forwards;
	animation-timing-function: steps(21,end), linear;
}

.animation-title-2 {      	
	animation-name: typing-second, hide-carriage;
	animation-duration: 0.56s, 0.001s;
	animation-fill-mode: forwards, forwards;
	animation-timing-function: steps(9,end), linear;
	animation-delay: 1.4s, 1.96s;
}

.title-container {
	display: inline-block;
	justify-content: center;
	align-items: center;
}

.main-article {
	--main-article-transform: translate3d(0, calc(var(--scrollTop) / -7.5), 0);
	min-height: 100vh;
	background-size: cover;
	background-position: center;
	color: var(--text);
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	text-align: center;
	top: -1px;
	z-index: 10;
}

.main-article__header {
	text-transform: uppercase;
	font-size: calc(var(--index) * 1.8);
	letter-spacing: calc(var(--index) / 7.5);
	transform: var(--main-article-transform);
	transition: var(--transition);
	will-change: transform;
}

.main-article__paragraph {
	max-width: calc(var(--index) * 30);
	font-size: calc(var(--index) * .9);
	margin-top: calc(var(--index) / 1.25);
	transform: var(--main-article-transform);
	transition: var(--transition);
	will-change: transform;
}